video::-webkit-media-controls {
  display: none;
}

video::-webkit-media-controls-enclosure {
  display: none;
}


@font-face{
  font-family: "MTS";
  src: url("./fonts/MTSWide-Medium.woff2") format('woff2'), url("../fonts/MTSWide-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  max-height: 100vh;
  color: #FFF;
  font-weight: 500;
  font-family: 'MTS', sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
}

.background-first {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(./images/bg-1.png);
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.background-second {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(./images/bg-2.png);
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.background-help {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(./images/bg-pixels.png);
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.background-rocks {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.second-page {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #AAB6FF;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  padding: 0 10px;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
}

.second-page_disabled {
  display: none;
}

.second-page__text {
  text-align: center;
  margin: 120px 0 34.58px 0;
  padding: 25px 25px 39px 25.63px;
  border-radius: 22px 22px 62px 22px;
  border: 1px solid #AAB6FF;
  background: rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-height: 590px) {
  .second-page__text {
    margin-top: 110px;
  }
}

.second-page__input {
  color: #000;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  padding: 18px 23.68px 18px 25.63px;
  border-radius: 40px;
  background: #FFF;
  backdrop-filter: blur(15px);
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  z-index: 100;
}

.second-page__button {
  color: #FFF;
  text-align: center;
  font-family: "MTS";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  z-index: 100;
  padding: 17px 13px 17px 14px;
  border-radius: 40px;
  background: #FF0032;
  backdrop-filter: blur(15px);
}


.loading-page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e40422;
  display: flex;
  z-index: 200;
}

.loading-page_disabled {
  display: none;
}

.loading-page__progress {
  width: 90%;
  background-color: gray;
  height: 3px;
  align-self: flex-end;
  margin: 0 auto 20px auto;
}

.loading-page__currentProgress {
  height: 3px;
  background-color: #FFF;
  width: 0;
  animation: loading 2.5s;
}

.loading-neuro {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #AAB6FF;
  display: flex;
  flex-direction: column;
  z-index: 100;
  gap: 18px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  padding: 0 10px;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
}

.loading-neuro__text {
  margin: 0;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; 
  text-align: center;
}

.loading-neuro_disabled {
  display: none;
}

.loading-neuro__progress {
  width: 100%;
  border-radius: 8.495px;
  position: relative;
  background: rgba(255, 255, 255, 0.18);
  height: 7.841px;
  z-index: 10;
}

.loading-neuro__currentProgress {
  position: absolute;
  height: 7.841px;
  left: 0;
  top: 0;
  border-radius: 8.495px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.80) 0.03%, #FFF 102.98%);
  width: 0;
  animation: loading 4s;
}

@keyframes loading {
  from {
      width: 0;
  }

  to {
      width: 100%;
  }
}

.custom-file-input {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.custom-file-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file-input::before {
  content: 'Загрузить'; /* or any other text or icon */
  display: block;
  color: #FF0032;
  font-family: "MTS";
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 23px 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 40px;
  background: #FFF;
  z-index: 10;
}

.fourth-page {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #AAB6FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  z-index: 100;
  align-items: center;
  color: #FFF;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
}

.fourth-page_disabled {
  display: none;
}

.fourth-page__button {
  color: #FFF;
  font-family: "MTS";
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 23px 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
}

.third-page {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #AAB6FF;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
}

.third-page_disabled {
  display: none;
}

.third-page__text {
  font-size: 24px;
  line-height: 26px;
  padding: 25px 10px 39px 24px;
  border-radius: 22px 22px 62px 22px;
  border: 1px solid #AAB6FF;
  background: rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  box-sizing: border-box;
  width: 100%;
  margin: 256px 0 0 0;
}

@media screen and (max-height: 670px) {
  .third-page__text {
    margin-top: 200px;
  }
}

@media screen and (max-height: 570px) {
  .third-page__text {
    margin-top: 110px;
  }
}

.third-page__button {
  color: #FFF;
  font-family: "MTS";
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 23px 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 40px;
  background: #FF0032;
  margin-top: auto;
  margin-bottom: 74px;
  z-index: 10;
}

.first-page {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #AAB6FF;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  justify-content: center;
  color: #FFF;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
  gap: 15px;
}

.first-page_disabled {
  display: none;
}

.first-page__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  box-sizing: border-box;
  width: 100%;
  padding: 99px 34px;
  border-radius: 22px 22px 62px 22px;
  border: 1px solid #AAB6FF;
  background: rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  margin: 0;
  margin-top: 149px;
}

@media screen and (max-height: 820px) {
  .first-page__text {
    margin-top: 110px;
  }
}

@media screen and (max-height: 770px) {
  .first-page__text {
    padding: 50px 34px;
  }
}

@media screen and (max-height: 670px) {
  .first-page__text {
    padding: 25px 34px;
  }
}

.first-page__button {
  color: #FF0032;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 23px 23px;
  border-radius: 40px;
  background: #FFF;
  z-index: 10;
  text-align: center;
  margin-top: auto;
  margin-bottom: 38px;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 300;
}

.photo-page {
  overflow: hidden;
  position: relative;
  background-color: #AAB6FF;
  display: flex;
  flex-direction: column;
  z-index: 99;
  justify-content: space-between;
  gap: 10px;
  height: 100vh;
  align-items: center;
  color: #FFF;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
}

.photo-main {
  margin-top: 134px;
  height: 60%;
}

.photo-page_disabled {
  display: none;
}

.photo-page__button {
  color: #FF0032;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FFF;
  margin-top: auto;
}

.main {
  margin-top: 134px;
  height: 100%;
}

.main-page {
  overflow: hidden;
  position: relative;
  background-color: #AAB6FF;
  display: flex;
  flex-direction: column;
  z-index: 99;
  justify-content: space-between;
  gap: 10px;
  height: 100vh;
  align-items: center;
  color: #FFF;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
}

.main-page_disabled {
  display: none;
}

.main-page__button {
  color: #FF0032;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FFF;
  margin-top: auto;
  margin-bottom: 38px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons .button {
  opacity: .6;
}

.button_bg_gray {
  background-color: gray;
}

.main__video-container {
  position: relative;
  height: 100%;
  /* top: 0;
  left: 50%; */
  /* transform: translateX(-50%); */
}

.main__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 22px 22px 62px 22px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateY(-50%);
  pointer-events: none;
}

#hatImage {
  display: none;
  position: absolute;
  z-index: -1000;
  aspect-ratio: 171 / 91;
}

.result-image {
  display: none;
}

.result-image_active {
  display: block;
}

.cap {
  display: none;
  z-index: -1000;
  position: absolute;
}

.send-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

.attach-photo-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  text-align: center;
  box-sizing: border-box;
}

.attach-photo-button::placeholder {
  color: #000;
}

.send-attach-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}


.photo-container {
  position: relative;
  height: 100%;
}

.attachment-photo {
  display: block;
  /* width: 100%; */
  height: 100%;
  border-radius: 22px 22px 62px 22px;
  object-fit: cover;
  object-position: center center;
}

.attachment-photo_active {
  display: block;
}

.mask-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

#new-photo {
  display: none;
}

#canvas3 {
  pointer-events: none;
}

.final-page {
  display: none;
  min-height: 100vh;
  max-height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 24px;
  background-color: #AAB6FF;
  z-index: 1;
}

.final-page_active {
  display: block;
}

.final-page__text {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 25px 39px 24px;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 22px 22px 62px 22px;
  border: 1px solid #AAB6FF;
  background: rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  margin: 130px 0 10px 0;
}

@media screen and (max-height: 650px) {
  .final-page__text {
    margin-top: 70px;
  }
}

.final-page__result-image {
  width: 100%;
  margin: 130px 0 10px 0;
  display: block;
  border-radius: 22px 22px 62px 22px;
  background: linear-gradient(0deg, #FFF 0%, #FFF 100%), rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
}

.final-page__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
}