video::-webkit-media-controls {
  display: none;
}

video::-webkit-media-controls-enclosure {
  display: none;
}


@font-face{
  font-family: "MTS";
  src: url("./fonts/MTSWide-Medium.woff2") format('woff2'), url("../fonts/MTSWide-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "MTS";
  src: url("./fonts/MTSWide-Regular.woff2") format('woff2'), url("../fonts/MTSWide-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "MTS";
  src: url("./fonts/MTSWide-Black.woff2") format('woff2'), url("../fonts/MTSWide-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: "MTSUltra";
  src: url("./fonts/MTSUltraExtended-Black.woff2") format('woff2'), url("../fonts/MTSUltraExtended-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  color: #FFF;
  font-weight: 500;
  font-family: 'MTS', sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
  background: linear-gradient(347deg, #FFD4C9 -2.24%, #EDCCD3 16.66%, #BFB8ED 52.9%, #9FAAFF 76.53%, #A1A1FF 103.3%);
}

button:hover {
  cursor: pointer;
}
.back-btn {
  position: absolute;
  top: 18px;
  left: 24px;
  width: 45px;
  height: 45px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 50%;
  z-index: 100;
}

.back-btn:hover {
  cursor: pointer;
}
.background-first {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/main-bg.png');
  background-size: cover;
}

.second-page {
  position: fixed;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(347deg, #FFD4C9 -2.24%, #EDCCD3 16.66%, #BFB8ED 52.9%, #9FAAFF 76.53%, #A1A1FF 103.3%);
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  justify-content: center;
  color: #FFF;
  padding: 0 10px;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
  display: none;
}

@media screen and (max-height: 559px) {
  .second-page__back {
    top: 15px;
  }
}

.second-page_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.second-page__info-block {
  border-radius: 22px 22px 62px 22px;
  border: 1px solid #AAB6FF;
  background: rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  width: 100%;
  flex-grow: 1;
  margin-top: 134px;
  padding: 39px 21px 39px 27px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.second-page__info-img {
  align-self: center;
  margin-top: 100px;
}
@media screen and (max-height: 760px) {
  .second-page__info-img {
    margin-top: 50px;
  }
}
@media screen and (max-height: 690px) {
  .second-page__info-img {
    margin-top: 0px;
  }
}
.second-page__info-text {
  margin: 0;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
  align-self: flex-start;
}

.second-page__button {
  color: #FF0032;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FFF;
  z-index: 10;
  text-align: center;
  margin-bottom: 38px;
  margin-top: 10px;
}

.second-page__button:disabled {
  opacity: .2;
}

.loading-page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 200;
}

.loading-page_disabled {
  display: none;
}

.loading-page__progress {
  width: 90%;
  background-color: gray;
  height: 3px;
  align-self: flex-end;
  margin: 0 auto 20px auto;
}

.loading-page__currentProgress {
  height: 3px;
  background-color: #FFF;
  width: 0;
  animation: loading 2.5s;
}

.loading-neuro {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear; 
}


.loading-neuro_disabled {
  display: none;
}

.loading-neuro__progress {
  width: 100%;
  border-radius: 8.495px;
  position: relative;
  background: rgba(255, 255, 255, 0.18);
  height: 7.841px;
  z-index: 10;
  margin-bottom: 19px;
}

.loading-neuro__currentProgress {
  position: absolute;
  height: 7.841px;
  left: 0;
  top: 0;
  border-radius: 8.495px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.80) 0.03%, #FFF 102.98%);
  width: 0;
  animation: loading 4s forwards;
}

@keyframes loading {
  from {
      width: 0;
  }

  to {
      width: 100%;
  }
}

.loading-neuro__block {
  display: flex;
  flex-direction: column;
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  margin-top: 134px;
}
@media screen and (max-height: 553px) {
  .loading-neuro__block {
    margin-top: 65px;
  }
}
.loading-neuro__round {
  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 43px 33px;
  width: 129px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

.loading-neuro__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}

.loading-neuro__text {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px; /* 110% */
  margin: 0;
  }
.loading-neuro__button {
  border-radius: 40px;
  background: #FF0032;
  border: none;
  outline: none;
  padding: 23px 10px;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  z-index: 100;
  margin-top: 10px;
  margin-bottom: 38px;
  opacity: .2;
  transition: opacity .24s linear;
}

.custom-file-input {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  opacity: .2;
}

.custom-file-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file-input::before {
  content: 'Загрузить'; /* or any other text or icon */
  display: block;
  color: #FFF;
  font-family: "MTS";
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 23px 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
}

.fourth-page {
  position: fixed;

  display: none;

  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(347deg, #FFD4C9 -2.24%, #EDCCD3 16.66%, #BFB8ED 52.9%, #9FAAFF 76.53%, #A1A1FF 103.3%);
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  max-height: 100vh;
  min-height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s linear, opacity .3s linear;
}

.fourth-page__text {
  margin: 256px 0 0 0;
  width: 100%;
  box-sizing: border-box;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 22px 22px 62px 22px;
  border: 1px solid #AAB6FF;
  background: rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 25px 15px 24px 24px;
}

@media screen and (max-height: 630px) {
  .fourth-page__text {
    margin-top: 156px;
  }
}

.fourth-page_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.fourth-page__button {
  color: #FFF;
  font-family: "MTS";
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 23px 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
}

.fourth-page__button_video {
  margin-top: auto;
  margin-bottom: 7px;
}

.custom-file-input {
  margin-bottom: 24px;
}

.first-page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.first-page_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.first-page__left-img {
  position: absolute;
  left: 25px;
  top: 22px;
}

.first-page__center-img {
  position: absolute;
  left: 50%;
  top: 27.5px;
  transform: translateX(-50%);
}

.first-page__right-img {
  position: absolute;
  right: 24px;
  top: 24px;
}

.first-page__text {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  margin: auto 0 28px 0;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 52px */
  text-transform: uppercase;
  position: relative;
}

.first-page__hat-img {
  position: absolute;
  top: -77%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-page__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
  text-align: center;
  margin-bottom: 24px;
}

.instruct-page-1 {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.instruct-page-1_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.instruct-page-1__left-text {
  position: absolute;
  top: 32px;
  left: 24px;
  margin: 0;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  text-transform: uppercase;
}
.instruct-page-1__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}
.instruct-page-1__hat-img {
  width: 250px;
  margin-bottom: 15px;
  margin-top: 110px;
}
.instruct-page-1__svg {
  display: block;
  margin-bottom: 23.5px;
}
.instruct-page-1__text {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px; /* 110% */
  margin-bottom: auto;
}
.instruct-page-1__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 10px;
}

.instruct-page-2 {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.instruct-page-2_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.instruct-page-2__left-text {
  position: absolute;
  top: 32px;
  left: 24px;
  margin: 0;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  text-transform: uppercase;
}
.instruct-page-2__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}
.instruct-page-2__hat-img {
  width: 250px;
  margin-bottom: 15px;
  margin-top: auto;
}
.instruct-page-2__svg {
  display: block;
  margin-bottom: 23.5px;
}
.instruct-page-2__text {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px; /* 110% */
  margin-bottom: auto;
}
.instruct-page-2__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 10px;
}
.instruct-page-3 {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.instruct-page-3_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.instruct-page-3__left-text {
  position: absolute;
  top: 32px;
  left: 24px;
  margin: 0;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  text-transform: uppercase;
}
.instruct-page-3__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}
.instruct-page-3__hat-img {
  width: 250px;
  margin-bottom: 15px;
  margin-top: 110px;
}
.instruct-page-3__svg {
  display: block;
  margin-bottom: 23.5px;
}
.instruct-page-3__text {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px; /* 110% */
  margin-bottom: auto;
}
.instruct-page-3__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 10px;
}
.instruct-page-4 {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.instruct-page-4_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.instruct-page-4__left-text {
  position: absolute;
  top: 32px;
  left: 24px;
  margin: 0;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  text-transform: uppercase;
}
.instruct-page-4__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}
.instruct-page-4__hat-img {
  width: 250px;
  margin-bottom: 15px;
  margin-top: 110px;
}
.instruct-page-4__svg {
  display: block;
  margin-bottom: 23.5px;
}
.instruct-page-4__text {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px; /* 110% */
  margin-bottom: auto;
}
.instruct-page-4__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  z-index: 10;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 10px;
}
.photo-page {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear; 
}
.photo-page__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}

.photo-main {
  height: 60%;
  z-index: 1000;
  margin-top: 75px;
}

.photo-page_disabled {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.photo-page__button {
  position: relative;
  z-index: 100;
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  margin-top: auto;
  margin-bottom: 24px;
}

.main {
  margin-top: 77px;
  margin-bottom: 12px;
  height: 100%;
  width: 100%;
  max-height: 480px;
  overflow: hidden;
  border-radius: 22px 22px 62px 22px;
  position: relative;
}

.main-page {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear; 
}

.main-page_disabled {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.main-page__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}

.main-page__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  margin-top: auto;
  margin-bottom: 24px;
  position: relative;
  z-index: 100;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons .button {
  opacity: .6;
}

.button_bg_gray {
  background-color: gray;
}

.main__video-container {
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  left: 50%;
  transform: translateX(-50%);
}

.main__video {
  width: 640px;
  height: 480px;
  z-index: 97;
  object-fit: none;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateY(-50%);
  pointer-events: none;
}

#hatImage {
  display: none;
  position: absolute;
  z-index: -1000;
  aspect-ratio: 171 / 91;
}

.result-image {
  display: none;
}

.result-image_active {
  display: block;
}

.cap {
  display: none;
  z-index: -1000;
  position: absolute;
}

.send-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

.attach-photo-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  text-align: center;
  box-sizing: border-box;
}

.attach-photo-button::placeholder {
  color: #000;
}

.send-attach-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}


.photo-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.attachment-photo {
  display: block;
  /* width: 100%; */
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
  object-position: center center;
}

.attachment-photo_active {
  display: block;
}

.mask-button {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

#new-photo {
  display: none;
}

#canvas3 {
  pointer-events: none;
  transform: translateY(0) !important;
}

.final-page {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: none;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.final-page_active {
  display: flex;
}

.final-page__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}

.final-page__text {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 106.25% */
  text-transform: uppercase;
  margin: 92px 0 25px 0;
}

@media screen and (max-height: 650px) {
  .final-page__text {
    margin-top: 110px;
  }
}

.final-page__result-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0 0 12px 0;
  display: block;
  border-radius: 22px;
  object-fit: cover;
  object-position: center;
  border: 4px solid #FF0032;
  box-sizing: border-box;
  background: linear-gradient(0deg, #FFF 0%, #FFF 100%), rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.final-page__button {
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  margin-bottom: 24px;
  z-index: 100;
  position: relative;
  margin-top: auto;
}

.photo-to-send {
  display: none;
}

.message-page {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.message-page_disabled {
  visibility: hidden;
  opacity: 0;
}

.message-page__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}

.message-page__text {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  margin: 92px 0 36px 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 106.25% */
  text-transform: uppercase;
}

.message-page__subtext {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  margin-bottom: 20px;
}

.message-page__button {
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  position: relative;
  z-index: 10;
  margin-bottom: 24px;
  margin-top: auto;
}

.message-page-2 {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.message-page-2_disabled {
  visibility: hidden;
  opacity: 0;
}

.message-page-2__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}

.message-page-2__text {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  margin: 92px 0 36px 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 106.25% */
  text-transform: uppercase;
}

.message-page-2__subtext {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  margin-bottom: 20px;
}

.message-page-2__button {
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 23px 10px;
  border-radius: 40px;
  background: #FF0032;
  position: relative;
  z-index: 10;
  margin-bottom: 24px;
  margin-top: auto;
}

.hat-page {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear; 
}

.hat-page_disabled {
  visibility: hidden;
  opacity: 0;
}

.hat-page__right-text {
  position: absolute;
  top: 19.5px;
  right: 24px;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 20px;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  line-height: 21.482px; /* 107.409% */
  text-transform: uppercase;
}

.hat-page__text {
  margin: 92px 0 38px 0;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "MTSUltra";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 106.25% */
  text-transform: uppercase;
}

.hat-page__images {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-height: 650px) {
  .hat-page__text {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .hat-page__img {
    margin-bottom: 5px !important;
  }
}

.hat-page__img-text {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  text-transform: uppercase;
  padding: 12px;
}

.hat-page__img-text_active {
  border-radius: 10px;
  border: 4px solid #FFF;
}

.hat-page__img-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.hat-page__img {
  display: block;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
  width: 134px;
  height: 198px;
}

.hat-page__button {
  outline: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 40px;
  background: #FF0032;
  padding: 23px 10px;
  position: relative;
  z-index: 10;
  opacity: .2;
  transition: opacity .3s linear;
}

.hat-page__video-button {
  margin-top: auto;
  margin-bottom: 10px;
}

.hat-page__photo-button {
  margin-bottom: 38px;
  margin-top: 0;
}

.hat-page__button_active {
  opacity: 1;
}


.info-page {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/main-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  color: #FFF;
  height: 100vh;
  padding: 0 24px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s linear;
}

.info-page_disabled {
  display: none;
}
.info-page__text {
  color: #FFF;
  margin: 0;
  padding: 25px 50px 39px 25px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
  text-transform: uppercase;
  border-radius: 22px 22px 62px 22px;
  border: 1px solid #AAB6FF;
  background: rgba(144, 144, 144, 0.30);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  margin-top: 134px;
}
.info-page__button {
  outline: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
  color: #FFF;
  font-family: "MTS";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 40px;
  background: #FF0032;
  padding: 23px 10px;
  position: relative;
  z-index: 10;
  opacity: 1;
  margin-bottom: 38px;
  margin-top: 20px;
}

/* ================ loader =========== */

.lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-hourglass_disabled {
  display: none;
  visibility: hidden;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.raduga-link {
  color: inherit;
}